<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
    <form method="POST" action = "/login" method = "post" >
      <label>Log into TinyApp</label><br>
      <input type="email" name = "email" ><br>
      <input type = "password" name = 'password'><br>
      <input type = "submit" value ="Log in">
    </form>

  </body>
</html>