<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <uL>
   <% for(let url in urls){ %>
        <li><%= urls[url] %> - <%= url %> </li>
        <form method="POST" action = "/urls/<%= url %>/delete">
          <input type="submit" value = "delete">
        </form>
        <form  method="GET" action = "/urls/<%= url %>">
           <input type="submit" value = "edit">
        </form>
    <% } %>
    <li><a href = 'urls_new.ejs'> Link </a></li>
  </uL>  <!-- Add your EJS code here -->

</body>
</html>

