<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
   <% include ./partials/_header %>
  <uL>
      <li><%= fullUrl %>-- <%= shortURL %></li>
  </uL>  <!-- Add your EJS code here -->
</body>
</html>