<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <form method = "POST" action = "/logout"> <button>Logout</button></form>

   <h1> <bold>Yes</bold> you can change your "Tiny URLs"</h1>

    <form method="POST" action = "/urls/<%= shortURL %>">
      <label>ShortURL:<%= shortURL %></label><br>
      <input type = "text" name="updatedURL" placeholder = "http://">
      <input type="submit" value = "submit">
      </form>

</body>
</html