<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <h1>Go ahead create a new "Teny URL"</h1>
    <form method = "POST" action = "/logout"> <button>Logout</button></form>

    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://www.YourNewDomain.com" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>