<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <form method="POST" action = "/register" method = post >
    <label>Registration Form</label><br>
    <input type="email" name = "email" ><br>
    <input type = "password" name = 'password'><br>
    <input type = "submit" value ="Register">
  </form>

</body>
</html>